body{
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
   background-color: #edf7f6;
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
     background-image: url("https://i.pinimg.com/564x/76/f9/85/76f9857ec7b97d2df45e40446fc2c50b.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
    overflow: hidden;
}

.init{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banderines{    
    display: none;
    position: fixed;
    top: -7px;
    left: 30%;
    width: 30%;
    filter: drop-shadow(2px 7px 3px rgba(0, 0, 0, 0.3));
}

.animalitos{
    width: 50%;
    float: right;
}

.globo-un{
    display: none;
    position: absolute;
    width: 30%;
    bottom: 0;
    opacity: 0;
    animation: volarup 10.5s ease-in infinite;
}
.estrella-un{
    display: none;
    position: absolute;
    width: 35%;
    bottom: 0;
    right: 20px;
    opacity: 0;
    animation: volarup 10.5s ease-in infinite;
    animation-delay: 3.5s;
    z-index: 99;
    filter: blur(2px);
}

.googlemaps{
    box-sizing: border-box;
    padding: 0.5em;
    background: #f0f0f0;
    border-radius: 1em;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

a{
    text-decoration: none;
}
a:visited {
    color: #000;
}
a:-webkit-any-link{
    color: #5b5b5b;
}
.lup{
    border-radius: 1em;
    border: 4px solid #fff;
    box-sizing: border-box;
    box-shadow: -webkit-box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.4);
    box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.4);
        
}
.page{
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 1em;
    box-sizing: border-box;
    border: 5px solid #fff;
    border-top: 0px;

}

.date{
    background: rgba(255, 255, 255, 0.4);
    margin-top: 1em;
    width: 200px;
    border: 2px solid #96c8bd;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 1em;
    border-style: dashed;
    padding: 1em;
}

.button-s{
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-box-shadow: 2px 3px 10px 0 rgba(0,0,0,0.25);
    box-shadow: 2px 3px 10px 0 rgba(0,0,0,0.25);
}

.button-s:hover{
    background-color: bisque;
    color: #fff;
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.col{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.col-center{
    justify-content: center;
    align-items: center;
}
.addres{
    display: flex;
    flex-direction: column;
}
.aling-right{
    justify-content: flex-end;
}
.aling-center{
    justify-content: center;
}
.aling-around{
    justify-content: space-around;
}
.font-xxsm{font-size: 0.75em; overflow: visible;}
.font-xsm{font-size: 0.9em; overflow: visible;}
.font-sm{font-size: 1.2em; overflow: visible;}
.font-lg{font-size: 1.7em; overflow: visible;}
.font-xlg{font-size: 2.5em; overflow: visible;}
.font-xlg-e{font-size: 2.7em; overflow: visible;}
.text-center{text-align: center;}
.text-justify{text-align: justify}
.font-roboto{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
.font-shantell{
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
      font-style: normal;
      font-variation-settings:
        "BNCE" 0,
        "INFM" 0,
        "SPAC" 0;
}
.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .caveat-regular {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .outfit-regular {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .qwitcher-grypen-regular {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .qwitcher-grypen-bold {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-style: normal;
  }

.box-shadow{
    -webkit-box-shadow: 2px 3px 7px 0 rgba(0,0,0,0.4);
    box-shadow: 2px 3px 7px 0 rgba(0,0,0,0.4);
}
.card{
    padding: 1em;
    border-radius: 1em;
    background: #fff;
    box-sizing: border-box;
}
.sec{    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding-bottom: 2em;
    padding-top: 1em;
    box-sizing: border-box;
}

.addres{
    width: 50%;
}

@media screen and (max-width: 768px) {
    .content{
        width: 100%;
    }
    .banderines{
        display: block;
        position: fixed;
        top: 0px;
        left: 20px;
        width: 90%;
        filter: drop-shadow(2px 7px 3px rgba(0, 0, 0, 0.3));
        transform: rotate(0deg);
    }
    .globo{
        width: 90%!important;
    }
    .globo-un{
        display: block;
    }
    .estrella-un{display: block;}
    .avion{ width: 45% !important;}
    .animalitos{width: 90%;}
    .addres{
        width: auto;
    }
    .modal-form{
        width: 90%!important;
    }
}

 @keyframes floatUpDown {
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-20px);
            }
        }

@keyframes floatLeftRight {
            0%, 100% {
                transform: translateX(0);
            }
            50% {
                transform: translateX(20px);
            }
        }

        @keyframes float {
            0%, 100% {
                transform: translateY(0) translateX(0);
            }
            50% {
                transform: translateY(-20px) translateX(20px);
            }
        }

.globo {
        width: 50%;
        filter: blur(10);
            animation:floatLeftRight  5s ease-in-out infinite, floatUpDown 3s ease-in-out infinite;
        }


@keyframes volarup {
     0% {
                transform: translateY(100vh) translateX(20px);
                opacity: 0;
            }
    50%{
        opacity: 1;
    }
        100% {
                transform: translateY(-100vh) translateX(0);
            opacity: 1;
            }
}

@keyframes escribir {
    from {
        /* El texto comienza sin ancho */
        opacity: 0;
    }
    to {
     /* El texto alcanza su ancho completo */
        opacity: 1;
    }
}

.textoAnimado {
    overflow: hidden;
    animation: escribir 2.5s ease-in-out;
}

@keyframes entradaDesdeAbajo {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes entradaDesdeDerecha {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes entradaDesdeIzquierda {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes entradaDesdeArriba {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.entrada {
    opacity: 0; /* Inicialmente, el elemento es invisible */
    position: relative; /* Permitir el desplazamiento relativo */
    animation-duration: 1.5s;
    animation-fill-mode: forwards; /* Mantener el último estado de la animación */
}

.desdeAbajo {
    animation: entradaDesdeAbajo 1.5s ease-in-out;
}

.desdeDerecha {
    animation: entradaDesdeDerecha 1.5s ease-in-out;
}

.desdeIzquierda {
    animation: entradaDesdeIzquierda 1.5s ease-in-out;
}

.desdeArriba {
    animation: entradaDesdeArriba 1.5s ease-in-out;
}

.avion{
    position: relative;
    width: 25%;
    transition: all;
    float: right;
    right: 0%;
}
.avionAnimate{
    top: 70vh;
    animation: entrarDesdeDerecha 6s ease-in infinite;
}

@keyframes entrarDesdeDerecha {
    0% {
        right: -50%;
    }
    100% {
        right: 120%;
    }
}


/*-------LLUVIA-----*/
@keyframes caidaConfeti {
    0% {
        transform: translateY(-100vh) rotate(0deg);
        opacity: 0;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 1;
    }
}

.confeti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color:bisque;
    border-radius: 50%;
    opacity: 0.7;
    animation: caidaConfeti 3s linear infinite;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); 
}

.contenedor-confeti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1
}

.cont-temporizador{
    width: 100%;
    margin: 0px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bloque{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
}
.cont-temporizador .bloque div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(80,80,80,1);
    background-color: rgb(167 135 89);
    box-shadow: 0px 0px 6px 2px #9b7d51 inset;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    width: 40px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
 }
.cont-temporizador .bloque p{
    margin: 0;
}

